body {
	background: rgb(129, 102, 52);
	margin: 0px;
	
	padding: 0;
	
}


		


section {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;

}
section.sec1 {
	position: relative;
	background: url(a1.png);
	background-position: center center;
	background-attachment: fixed;
}
section.sec1 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec1 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 50px;
	font-variant: small-caps;
	color: white;
	font-weight: normal;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec1 .intext p {
	font-family: Arial;
	font-size: 55px;
	font-weight: bold;
	color: white;
	padding: 0;
	top: 100px;
	left: 120px;
	position: absolute;
}

section.sec1 .intext .btn {
	width: 280px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec1 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec1 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec1 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec1 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec1 .intext .btn:hover::before {
	left: 80%;
}
section.sec1 .intext .btn:hover::after {
	right: 80%;	
}	 	 
section.sec2 {
	background: url(a2.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec2 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec2 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec2 .intext p {
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec2 .intext .btn {
	width: 280px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec2 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec2 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec2 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec2 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec2 .intext .btn:hover::before {
	left: 80%;
}
section.sec2 .intext .btn:hover::after {
	right: 80%;	
}	 	 

section.sec3 {
	background: url(a3.jfif);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec3 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec3 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	color: white;
	font-weight: bold;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec3 .intext p {
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec3 .intext .btn {
	width: 250px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec3 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec3 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec3 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec3 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec3 .intext .btn:hover::before {
	left: 80%;
}
section.sec3 .intext .btn:hover::after {
	right: 80%;	
}	 	 

section.sec4 {
	background: url(a4.jfif);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec4 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec4 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	color: white;
	font-weight: normal;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec4 .intext p {
	font-family: Arial;
	font-size: 55px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec4 .intext .btn {
	width: 250px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec4 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec4 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec4 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec4 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec4 .intext .btn:hover::before {
	left: 80%;
}
section.sec4 .intext .btn:hover::after {
	right: 80%;	
}	 	 

section.sec5 {
	position: relative;
	background: url(a5.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec5 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec5 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 50px;
	font-variant: small-caps;
	color: white;
	font-weight: normal;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec5 .intext p {
	font-family: Arial;
	font-size: 55px;
	font-weight: bold;
	color: white;
	padding: 0;
	top: 100px;
	left: 120px;
	position: absolute;
}

section.sec5 .intext .btn {
	width: 280px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec5 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec5 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec5 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec5 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec5 .intext .btn:hover::before {
	left: 80%;
}
section.sec5 .intext .btn:hover::after {
	right: 80%;	
}	 	 
section.sec6 {
	background: url(a6.jfif);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec6 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec6 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec6 .intext p {
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec6 .intext .btn {
	width: 280px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec6 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec6 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec6 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec6 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec6 .intext .btn:hover::before {
	left: 80%;
}
section.sec6 .intext .btn:hover::after {
	right: 80%;	
}	 	 

section.sec7 {
	background: url(a7.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec7 .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec7 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	color: white;
	font-weight: bold;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec7 .intext p {
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec7 .intext .btn {
	width: 250px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: normal;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec3 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec7 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec7 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec7 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec7 .intext .btn:hover::before {
	left: 80%;
}
section.sec7 .intext .btn:hover::after {
	right: 80%;	
}	 	 

section.sec8 {
	background: url(a8.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec8 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	color: white;
	font-weight: normal;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec8 .intext p {
	font-family: Arial;
	font-size: 55px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec8 .intext .btn {
	width: 250px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec8 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec8 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec8 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec8 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec8 .intext .btn:hover::before {
	left: 80%;
}
section.sec8 .intext .btn:hover::after {
	right: 80%;	
}	 	 
section.sec9 {
	background: url(a9.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
section.sec .intext{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7s);
	display: flex;
}
section.sec9 .intext h2 {
	top: 70px;
	left: 120px;
	font-family: Arial;
	font-size: 55px;
	color: white;
	font-weight: normal;
	padding: 0;
	float: left;
	position: absolute;
}
section.sec9 .intext p {
	font-family: Arial;
	font-size: 55px;
	font-weight: normal;
	color: white;
	padding: 0;
	top: 120px;
	left: 120px;
	position: absolute;
}

section.sec9 .intext .btn {
	width: 250px;
	height: 40px;
	top: 50%;
	float: left;
	left: 110px;
	background: rgba(0,0,0,.5);
	border: 4px solid;
	box-sizing: border-box;
	box-shadow: 0 18px 36px rgba(255,255,255,0.30), 0 14px 11px rgba(255,255,255,0.22);

	color: #05f1c9;
	font-weight: 700;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}
section.sec9 .intext .btn a {
	text-decoration: none;
	color: white;
}


section.sec9 .intext .btn::before,.btn::after {
	content:"";
	position: absolute;
	width: 14px;
	height: 5px;
	background: red;
	transform: skewX(50deg);
	transition: .5s linear;
}
section.sec9 .intext .btn::before {
	top: -4px;
	left: 10%;
}
section.sec9 .intext .btn::after {
	bottom: -4px;
	right: 10%;
}
section.sec9 .intext .btn:hover::before {
	left: 80%;
}
section.sec9 .intext .btn:hover::after {
	right: 80%;	
}	 	 





section.sectext {
	padding: 50px 100px;
	height: auto;
}
section.sectext h1 {
	margin: 0;
	padding: 0;
	font-size: 35px;
	color: #262626;
}
section.sectext p {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #262626;
}
	 